In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Avarua,20,CK,2021-06-11 05:40:21,69,-21.2078,-159.7750,75.25,5.75
1,1,Umtata,0,ZA,2021-06-11 05:41:09,87,-31.5889,28.7844,43.36,2.30
2,2,Avera,100,US,2021-06-11 05:41:09,88,33.1940,-82.5271,77.72,6.22
3,3,Cidreira,88,BR,2021-06-11 05:40:42,92,-30.1811,-50.2056,59.95,13.24
4,4,Thompson,75,CA,2021-06-11 05:40:28,76,55.7435,-97.8558,55.56,8.05

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds= city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
5,5,Bengkulu,69,ID,2021-06-11 05:40:39,65,-3.8004,102.2655,84.31,6.55
12,12,San Patricio,91,US,2021-06-11 05:40:22,88,28.0170,-97.5169,82.29,10.96
13,13,Mopti,80,ML,2021-06-11 05:41:11,49,14.6667,-4.0000,86.36,15.93
19,19,Kapaa,75,US,2021-06-11 05:40:39,75,22.0752,-159.3190,82.38,5.99
20,20,South Venice,90,US,2021-06-11 05:41:12,86,27.0531,-82.4243,82.98,0.00
21,21,Dingle,99,PH,2021-06-11 05:40:35,67,10.9995,122.6711,87.57,8.50
22,22,Abnub,0,EG,2021-06-11 05:41:13,18,27.2696,31.1511,80.82,11.12
25,25,Mandera,40,KE,2021-06-11 05:41:13,47,3.9366,41.8670,81.99,20.49
27,27,Sabla,67,NG,2021-06-11 05:41:14,48,12.7525,4.7077,85.28,8.25
36,36,Hithadhoo,99,MV,2021-06-11 05:40:40,74,-0.6000,73.0833,83.46,11.18

In [19]:
preferred_cities_df.count()

City_ID       119
City          119
Cloudiness    119
Country       119
Date          119
Humidity      119
Lat           119
Lng           119
Max Temp      119
Wind Speed    119
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5       Bengkulu      ID     84.31  -3.8004  102.2655
12  San Patricio      US     82.29  28.0170  -97.5169
13         Mopti      ML     86.36  14.6667   -4.0000
19         Kapaa      US     82.38  22.0752 -159.3190
20  South Venice      US     82.98  27.0531  -82.4243
21        Dingle      PH     87.57  10.9995  122.6711
22         Abnub      EG     80.82  27.2696   31.1511
25       Mandera      KE     81.99   3.9366   41.8670
27         Sabla      NG     85.28  12.7525    4.7077
36     Hithadhoo      MV     83.46  -0.6000   73.0833

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    t

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Bengkulu,ID,84.31,-3.8004,102.2655,Grage Hotel Bengkulu
12,San Patricio,US,82.29,28.0170,-97.5169,"Motel 6 Sinton, TX"
13,Mopti,ML,86.36,14.6667,-4.0000,
19,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,South Venice,US,82.98,27.0531,-82.4243,"Island Sun Inn & Suites - Venice, Florida Hist..."
...,...,...,...,...,...,...
556,Katherine,AU,80.92,-14.4667,132.2667,Pine Tree Motel
569,Hurghada,EG,86.04,27.2574,33.8129,Sea Star Beau Rivage Hotel
571,Bagu,PH,85.33,18.4228,121.3583,
574,Kodinar,IN,88.36,20.7903,70.7031,residency of N.B vadhel
580,Nakhon Phanom,TH,85.80,17.3333,104.4167,ป่ายางรีสอร์ท

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))