## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/ziqinzhu/Desktop/BCS/Analysis-Projects/module6_World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,682,Canico,PT,80.13,few clouds,32.6333,-16.8500,Quinta Splendida Wellness & Botanical Garden
1,683,Puerto Ayora,EC,84.16,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,691,Georgetown,MY,82.89,few clouds,5.4112,100.3354,Cititel Penang
3,702,Diego De Almagro,CL,81.88,clear sky,-26.3667,-70.0500,hotel luna del desierto
4,705,Kahului,US,81.34,clear sky,20.8947,-156.4700,Maui Seaside Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
hotel_info

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Rockford"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Rockford"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Garden City"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Powell"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Hamilton"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
153,1310,Rockford,US,93.54,scattered clouds,42.2711,-89.094,City Plaza Suites

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0])

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_layer = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1310,Rockford,US,93.54,scattered clouds,42.2711,-89.0940,City Plaza Suites
1,1310,Rockford,US,93.54,scattered clouds,42.2711,-89.0940,City Plaza Suites
2,1176,Garden City,US,91.09,few clouds,42.3256,-83.3310,Quality Inn & Suites Banquet Center
3,1222,Powell,US,84.88,broken clouds,40.1578,-83.0752,The Brig
4,826,Hamilton,US,89.74,broken clouds,39.1834,-84.5333,Six Acres Bed & Breakfast

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(39.183,-84.5333), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))